In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns
import warnings

warnings.filterwarnings(action='ignore')
%matplotlib inline

## **TASK 1. Îç∞Ïù¥ÌÑ∞ Ï∂úÏ≤ò / Îç∞Ïù¥ÌÑ∞ Î∂àÎü¨Ïò§Í∏∞**
-  [kaggle_Health Insurance Cross Sell Prediction üè† üè•](https://www.kaggle.com/datasets/anmolkumar/health-insurance-cross-sell-prediction/data)
- Îç∞Ïù¥ÌÑ∞ ÏÑ†Ï†ï Ïù¥Ïú†: Î≥¥Ìóò Î∂ÑÏïºÏóêÏÑúÏùò Î®∏Ïã†Îü¨Îãù ÌôúÏö©ÏùÑ ÏßÅÏ†ë Ìï¥Î≥¥Í≥†Ïûê!

In [2]:
train = pd.read_csv('./data/train.csv')
test = pd.read_csv('./data/test.csv')

In [3]:
train.head()

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,1,Male,44,1,28.0,0,> 2 Years,Yes,40454.0,26.0,217,1
1,2,Male,76,1,3.0,0,1-2 Year,No,33536.0,26.0,183,0
2,3,Male,47,1,28.0,0,> 2 Years,Yes,38294.0,26.0,27,1
3,4,Male,21,1,11.0,1,< 1 Year,No,28619.0,152.0,203,0
4,5,Female,29,1,41.0,1,< 1 Year,No,27496.0,152.0,39,0

In [4]:
test.head()

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage
0,381110,Male,25,1,11.0,1,< 1 Year,No,35786.0,152.0,53
1,381111,Male,40,1,28.0,0,1-2 Year,Yes,33762.0,7.0,111
2,381112,Male,47,1,28.0,0,1-2 Year,Yes,40050.0,124.0,199
3,381113,Male,24,1,27.0,1,< 1 Year,Yes,37356.0,152.0,187
4,381114,Male,27,1,28.0,1,< 1 Year,No,59097.0,152.0,297

## **TASK 2. Í∏∞Ï¥à ÌÜµÍ≥ÑÎüâ ÌôïÏù∏**

In [5]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 381109 entries, 0 to 381108
Data columns (total 12 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    381109 non-null  int64
 1   Gender                381109 non-null  object
 2   Age                   381109 non-null  int64
 3   Driving_License       381109 non-null  int64
 4   Region_Code           381109 non-null  float64
 5   Previously_Insured    381109 non-null  int64
 6   Vehicle_Age           381109 non-null  object
 7   Vehicle_Damage        381109 non-null  object
 8   Annual_Premium        381109 non-null  float64
 9   Policy_Sales_Channel  381109 non-null  float64
 10  Vintage               381109 non-null  int64
 11  Response              381109 non-null  int64
dtypes: float64(3), int64(6), object(3)
memory usage: 34.9+ MB

In [8]:
int_var = train[['id', 'Age', 'Driving_License', 'Region_Code', 'Previously_Insured', 'Annual_Premium', 'Policy_Sales_Channel', 'Vintage', 'Response']]
obj_var = train[['Gender', 'Vehicle_Age', 'Vehicle_Damage']]

### ÏàòÏπòÌòï Î≥ÄÏàò(int, float)
- id: Í≥†Í∞ù ÏãùÎ≥ÑÏùÑ ÏúÑÌïú Î≥ÄÏàò -> ÌÜµÍ≥Ñ Î¨¥ÏùòÎØ∏
- Driving_License, Previously_Insured, Response(YÎ≥ÄÏàò) : Î≤îÏ£ºÌòï Î≥ÄÏàò(1/0)
- Region_Code, Policy_Sales_Channel: floatÏù¥ÏßÄÎßå ÏÇ¨Ïã§ÏÉÅ Î≤îÏ£ºÌòï Î≥ÄÏàò
- **Annual_Premium, Vintage, Age** ‚Üí Ïó∞ÏÜçÌòï Î≥ÄÏàò
  - Age: 20ÎåÄ ~ 80ÎåÄÍπåÏßÄ Ï°¥Ïû¨ / 2-30ÎåÄÍ∞Ä ÎßéÏùÄ ÎìØ?
  - Annual_Premium: 2630 ~ 540165 / ÌèâÍ∑†Ïóê ÎπÑÌï¥ ÏµúÎåìÍ∞íÏù¥ Ïª§ÏÑú Ïù¥ÏÉÅÍ∞í ÌôïÏù∏Ìï¥Î≥¥Í∏∞ !
  - Vintage: 10~299

In [9]:
int_var.describe()

,id,Age,Driving_License,Region_Code,Previously_Insured,Annual_Premium,Policy_Sales_Channel,Vintage,Response
count,381109.000000,381109.000000,381109.000000,381109.000000,381109.000000,381109.000000,381109.000000,381109.000000,381109.000000
mean,190555.000000,38.822584,0.997869,26.388807,0.458210,30564.389581,112.034295,154.347397,0.122563
std,110016.836208,15.511611,0.046110,13.229888,0.498251,17213.155057,54.203995,83.671304,0.327936
min,1.000000,20.000000,0.000000,0.000000,0.000000,2630.000000,1.000000,10.000000,0.000000
25%,95278.000000,25.000000,1.000000,15.000000,0.000000,24405.000000,29.000000,82.000000,0.000000
50%,190555.000000,36.000000,1.000000,28.000000,0.000000,31669.000000,133.000000,154.000000,0.000000
75%,285832.000000,49.000000,1.000000,35.000000,1.000000,39400.000000,152.000000,227.000000,0.000000
max,381109.000000,85.000000,1.000000,52.000000,1.000000,540165.000000,163.000000,299.000000,1.000000

### Î≤îÏ£ºÌòï Î≥ÄÏàò(object)
- gender: ÎÇ®/Ïó¨ ‚Üí ÎÇ®Ïûê ÎπÑÏú®Ïù¥ Îçî ÎÜíÏùå
- Vehicle_Age: 1-2ÎÖÑ Ï†ïÎèÑÎêú ÏûêÎèôÏ∞® ÏÜåÏú†ÏûêÍ∞Ä ÎßéÏùå 
- Vehicle_Damage: Ï∞®Îüâ ÏÜêÏÉÅÏó¨Î∂Ä ‚Üí ÎπÑÏä∑Ìï® 
‚Üí ÌôúÏö©Ï†Ñ, Ïù∏ÏΩîÎî© ÌïÑÏöî!

In [21]:
for i in range(obj_var.shape[1]):
    category = np.unique(obj_var.iloc[:,i])
    print(f'{obj_var.columns[i]}: {category} ')

Gender: ['Female' 'Male']
Vehicle_Age: ['1-2 Year' '< 1 Year' '> 2 Years']
Vehicle_Damage: ['No' 'Yes']

In [10]:
obj_var.describe()

        Gender Vehicle_Age Vehicle_Damage
count   381109      381109         381109
unique       2           3              2
top       Male    1-2 Year            Yes
freq    206089      200316         192413

### Î≥ÄÏàò Í∞ÑÎã®ÏöîÏïΩ
<img src="https://github.com/leehj2586/Epoch/blob/main/Task/img/Î≥ÄÏàòÏöîÏïΩ.png?raw=true" width="500">

## **TASK 3. Î∂ÑÏÑù Î™©Ï†Å/Ïù∏ÏÇ¨Ïù¥Ìä∏ ÏÑ§Î™Ö**
- Î™©Ï†Å: Í±¥Í∞ï Î≥¥Ìóò Í∞ÄÏûÖ Í≥†Í∞ùÏù¥ Ï∞®Îüâ Î≥¥ÌóòÏóê Í∞ÄÏûÖÌï† Í∞ÄÎä•ÏÑ±(Response=1)ÏùÑ ÏòàÏ∏°
    - Í≥†Í∞ùÌäπÏÑ±(Ïó∞Î†π, Ïö¥Ï†ÑÎ©¥Ìóà Î≥¥Ïú† Ïó¨Î∂Ä, Ï∞®Îüâ Î≥¥Ïú†Ïó¨Î∂Ä)ÏôÄ Ï∞®ÎüâÌäπÏÑ±(Ï∞®ÎüâÏó∞Ïãù, ÏÜêÏÉÅÍ≤ΩÌóò)ÏùÑ Ïù¥Ïö©ÌïòÏó¨ Ï∞®Îüâ Î≥¥Ìóò Í∞ÄÎä•ÏÑ± ÏòàÏ∏°
- Î¨∏Ï†ú Ïú†Ìòï: Ïù¥ÏßÑ Î∂ÑÎ•ò(Binary Classification) Î¨∏Ï†ú
- ÏñªÏùÑ Ïàò ÏûàÎäî Ïù∏ÏÇ¨Ïù¥Ìä∏   
    1) Í≥†Í∞ù ÌäπÏÑ±Í≥º Î≥¥Ìóò Í∞ÄÏûÖ Í∞ÄÎä•ÏÑ± Í∞ÑÏùò Í¥ÄÍ≥Ñ
        - Ïó∞Î†π(Age)Í≥º Í∞ÄÏûÖ ÏùòÌñ•(Response)Ïùò Í¥ÄÍ≥Ñ
        - Ïö¥Ï†ÑÎ©¥Ìóà Î≥¥Ïú† Ïó¨Î∂Ä(Driving_License)
        - Í∏∞Ï°¥ Ï∞®Îüâ Î≥¥Ìóò Ïó¨Î∂Ä(Previously_Insured)
    2) Ï∞®Îüâ Í¥ÄÎ†® Ï†ïÎ≥¥ÏôÄ Í∞ÄÏûÖ ÏùòÌñ• Î∂ÑÏÑù
        - Ï∞®Îüâ Ïó∞Ïãù(Vehicle_Age)Í≥º Í∞ÄÏûÖÎ•†
        - ÏÇ¨Í≥† Í≤ΩÌóò(Vehicle_Damage)Í≥º Í∞ÄÏûÖ ÏùòÌñ•