In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns
import warnings

warnings.filterwarnings(action='ignore')
%matplotlib inline

In [7]:
#Task 1. 데이터 출처: 문화빅데이터플랫폼(consumer insight)
#데이터 불러오기

In [16]:
df1 = pd.read_csv('2021-01-04 데이터.csv')
df2 = pd.read_csv('2025-01-27 데이터.csv')

In [14]:
#Task 2. 기초 통계 확인

In [17]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 9 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   RESPOND_ID                            500 non-null    int64
 1   EXAMIN_BEGIN_DE                       500 non-null    int64
 2   SEXDSTN_FLAG_CD                       500 non-null    object
 3   AGRDE_FLAG_NM                         500 non-null    object
 4   ANSWRR_OC_AREA_NM                     500 non-null    object
 5   HSHLD_INCOME_DGREE_NM                 500 non-null    object
 6   ALL_TURSM_TOUR_EXPNDTR_INTEN_VALUE    500 non-null    object
 7   DMSTC_TURSM_TOUR_EXPNDTR_INTEN_VALUE  500 non-null    object
 8   OVSEA_TURSM_TOUR_EXPNDTR_INTEN_VALUE  500 non-null    object
dtypes: int64(2), object(7)
memory usage: 35.3+ KB

In [18]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 9 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   RESPOND_ID                            500 non-null    int64
 1   EXAMIN_BEGIN_DE                       500 non-null    int64
 2   SEXDSTN_FLAG_CD                       500 non-null    object
 3   AGRDE_FLAG_NM                         500 non-null    object
 4   ANSWRR_OC_AREA_NM                     500 non-null    object
 5   HSHLD_INCOME_DGREE_NM                 500 non-null    object
 6   ALL_TURSM_TOUR_EXPNDTR_INTEN_VALUE    500 non-null    object
 7   DMSTC_TURSM_TOUR_EXPNDTR_INTEN_VALUE  500 non-null    object
 8   OVSEA_TURSM_TOUR_EXPNDTR_INTEN_VALUE  500 non-null    object
dtypes: int64(2), object(7)
memory usage: 35.3+ KB

In [19]:
df1.describe()

         RESPOND_ID  EXAMIN_BEGIN_DE
count  5.000000e+02            500.0
mean   6.669711e+05       20210104.0
std    9.589117e+05              0.0
min    5.290000e+02       20210104.0
25%    2.156725e+05       20210104.0
50%    3.571190e+05       20210104.0
75%    4.109642e+05       20210104.0
max    3.238573e+06       20210104.0

In [20]:
df2.describe()

         RESPOND_ID  EXAMIN_BEGIN_DE
count  5.000000e+02            500.0
mean   4.360384e+07       20250127.0
std    2.054285e+07              0.0
min    6.282000e+03       20250127.0
25%    5.332643e+07       20250127.0
50%    5.334350e+07       20250127.0
75%    5.335830e+07       20250127.0
max    5.337744e+07       20250127.0

In [24]:
#Task 3. 
#분석 목적: 2025년 1월과 2021년 1월의 나이대별, 지역별 여행비용 지출의향을 각각 분석해 코로나시기와 지금의 추세비교, 코로나시기와 현재 각 시기의 나이대별 비교를 수행하여 1. 코로나가 여행에 미치는 영향 2.코로나시기의 나이대별 여행에 대한 반응 차이를 알아보고자 한다.

In [26]:
#insight : EXAMIN_BEGIN_DE(조사 시작일)는 2021년 1월 4일(20210104.0)과 2025년 1월 27일(20250127.0)로 동일한 시점의 데이터를 비교하는 데 문제없다. RESPOND_ID의 평균값과 범위 차이가 크다.